<% content_for :page_title do %>保険のご案内<% end %>
<% content_for :page_sub_title do %>SERVICE<% end %>

<% breadcrumb :service %>

<main class="w-full my-12 md:my-16 ">
    <div class="max-w-3xl container mx-auto px-4">
        <div class="max-w-5xl container mx-auto">
            <div class="mb-3 text-xl sm:text-3xl font-semibold text-center">お客さまの最良のパートナーとして<br>保険選びをお手伝いします</div>
            <div class="mb-12 text-left">
                当社では、個人・法人向けともに、お客さまにとって必要な保険商品を各種扱っています。
                保険に関する疑問や、様々なリスクへの備え、見直しのご相談まで、何でもお気軽にお尋ねください。
            </div>

            <div class="mb-3 text-xl sm:text-3xl font-semibold text-center main_title">個人向け保険商品</div>
            <div class="grid grid-cols-3 gap-4">
                <div class="">
               </div>
            </div>
        </div>
    </div>
</main>