<% content_for :page_title do %>よくある質問<% end %>
<% content_for :page_sub_title do %>FAQ<% end %>

<% breadcrumb :faq %>


<main class="w-full my-12 md:my-16">
    <div class="max-w-3xl container mx-auto px-4">
        <div class="max-w-5xl container mx-auto">
          <h3 class="accordion-title font-semibold border-t border-b relative py-4 md:py-5">保険相談に料金はかかりますか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            いいえ。完全無料で行っております。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">保険相談はどこで行うのですか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            基本的には店舗で行いますが、お客様のご自宅や勤務先などに訪問することも可能です。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">予約なしでの相談や契約はできますか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            原則予約制です。空き状況によりご案内可能です。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">電話での相談はできますか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            はい。ただし、電話では説明が難しい場合もあるので、対面でのご相談をおすすめしています。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">1回の相談時間はどのくらいですか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ご相談内容によって異なりますが、初回でしたら1時間前後が目安となります。なお、ご相談時間が限られている場合は、あらかじめお知らせください。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">保険相談で準備したほうがいいものはありますか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            手ぶらで結構ですが、現在加入されている保険があり、見直しや内容確認などをご希望の場合は、保険証券のコピーなどをご用意いただくと、より詳しい案内ができます。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">強引な勧誘をされそうなイメージがありますが、大丈夫でしょうか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            当社では、お客様に対して強引な勧誘をすることは一切ございません。また、提案した保険に加入されなかった場合も、相談料や出張料などを請求することはありません。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">子連れで行っても大丈夫ですか？</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            はい。安心してご来店ください。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">相談内容を聞かれたくないのですが</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            事前にその旨をお伝えください。個室ブースを使うなど、極力配慮いたします。また、お客様のご自宅に伺うことも可能です。
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
        </div>
    </div>
</main>