<% content_for :page_title do %>よくある質問<% end %>
<% content_for :page_sub_title do %>FAQ<% end %>

<% breadcrumb :faq %>


<main class="w-full my-12 md:my-16">
    <div class="max-w-3xl container mx-auto px-4">
        <div class="max-w-5xl container mx-auto">
          <h3 class="accordion-title font-semibold border-t border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
          <h3 class="accordion-title font-semibold border-b relative py-4 md:py-5">ここに質問内容が入る</h3>
          <div class="accordion-content py-4 md:py-5 hidden text-sm md:text-base">
            ここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入るここに回答が入る
          </div>
        </div>
    </div>
</main>