<% content_for :page_title do %>勧誘方針<% end %>
<% content_for :page_sub_title do %>INVITATION<% end %>

<% breadcrumb :invitation %>

<main class="w-full">
    <div class="max-w-5xl container mx-auto">
       
    </div>
</main>