<% content_for :page_title do %>プライバシーポリシー<% end %>
<% content_for :page_sub_title do %>POLICY<% end %>

<% breadcrumb :policy %>

<main class="w-full my-12 md:my-16 ">
    <div class="max-w-3xl container mx-auto px-4">
        <div class="max-w-5xl container mx-auto">
           <div class="mb-12 text-sm md:text-base leading-6">
                当社は、個人情報保護の重要性に鑑み、また、保険業に対する社会の信頼をより向上させるため、個人情報の保護に関する法律（個人情報保護法）その他の関連法令・ガイドラインを遵守して、個人情報を適正に取扱うとともに、安全管理について適切な措置を講じます。<br><br>
                当社は、個人情報の取扱いが適正に行われるように従業者への教育・指導を徹底し、適正な取扱いが行われるよう取り組んでまいります。また、個人情報の取扱いに関する苦情・相談に迅速に対応し、当社の個人情報の取扱い及び安全管理に係る適切な措置については、適宜見直し改善いたします。
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">１. 個人情報の取得</h2>
            <div class="mb-12 text-sm md:text-base leading-6">
                当社は、十分な安全管理措置を講じたうえで、業務上必要な範囲で、適法かつ公正な手段により個人情報を取得します。
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">２. 個人情報の利用目的</h2>
            <div class="mb-12 text-sm md:text-base leading-6">
                当社は、東京海上日動火災保険株式会社および東京海上日動あんしん生命保険株式会社より保険業務の委託を受けて、取得した個人情報を、損害保険、生命保険およびこれらに付帯・関連するサービスの提供等の各社の業務の遂行に必要な範囲内で利用します。その他の目的に利用することはありません。<br><br>
                上記の利用目的の変更は、関連性を有すると合理的に認められる範囲においてのみ行い、変更する場合には、その内容をご本人に対し、原則として書面等により通知し、またはホームページ（ＵＲＬ）等により公表します。<br><br>
                当社に対し保険募集業務の委託を行う保険会社の利用目的は、以下のホームページに掲載してあります。
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">３. 個人データの安全管理措置</h2>
            <div class="mb-8 text-sm md:text-base leading-6">
                当社は、取扱う個人データの漏えい、滅失またはき損の防止その他の個人データの安全管理のため、以下のとおり対策をします｡
            </div>
            
            <h3 class="text-lg md:text-xl font-semibold mb-4">基本方針の策定</h3>
            <div class="mb-8 text-sm md:text-base leading-6">
                当社の個人情報取扱規程に基づき、本書において、当社の名称、安全管理措置に関する質問及び苦情処理の窓口、個人データの安全管理に関する宣言、基本方針の継続的改善の宣言、関係法令遵守の宣言、等についての基本方針を策定
            </div>

            <h3 class="text-lg md:text-xl font-semibold mb-4">個人データの取り扱いに係る規律の整備</h3>
            <div class="mb-8 text-sm md:text-base leading-6">
                当社の個人情報取扱規程において、個人データの取得、利用、保存等を行う場合の基本的な取扱方法を整備
            </div>
            <h3 class="text-lg md:text-xl font-semibold mb-4">組織的安全管理措置</h3>
            <div class="mb-8 text-sm md:text-base leading-6">
                個人情報の管理に関する責任者の設置、個人情報の取扱状況の点検および監査体制の整備と実施、漏えい事案等に対する態勢の整備、等を実施
            </div>
            <h3 class="text-lg md:text-xl font-semibold mb-4">人的安全管理措置</h3>
            <div class="mb-8 text-sm md:text-base leading-6">
                従業者との「非開示契約」の締結、就業規則等の整備、従業者への周知徹底および研修、等を実施
            </div>
            <h3 class="text-lg md:text-xl font-semibold mb-4">物理的安全管理措置</h3>
            <div class="mb-8 text-sm md:text-base leading-6">
                紛失・盗難を防ぐための書類・外部媒体等の施錠保管、個人情報廃棄時の裁断・焼却・溶解・消去、データ管理者の承諾なく個人情報を持ち運ぶことの禁止、持ち運ぶ場合の件数制限、等の措置を実施
            </div>
            <h3 class="text-lg md:text-xl font-semibold mb-4">技術的安全管理措置</h3>
            <div class="mb-12 text-sm md:text-base leading-6">
                不正アクセスを防止するための強固なパスワードの使用、IDの共有禁止、暗号化設定可能な機器の使用、等の措置を実施
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">４. 個人データの第三者への提供および第三者からの取得について</h2>
            <div class="mb-12 text-sm md:text-base leading-6">
                当社は、個人データを第三者に提供するにあたり、以下の場合を除き、ご本人の同意なく第三者に個人データを提供しません。<br><br>
                <ol class="list-decimal list-inside -indent-4 pl-4">
                    <li>法令に基づく場合</li>
                    <li>人の生命、身体又は財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                    <li>国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                    <li>当該第三者が学術研究機関等である場合であって、当該第三者が当該個人データを学術研究目的で取り扱う必要があるとき（当該個人データを取り扱う目的の一部が学術研究目的である場合を含み、個人の権利利益を不当に侵害するおそれがある場合を除く）</li>
                </ol>
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">５. センシティブ情報の取り扱い</h2>
            <div class="mb-12 text-sm md:text-base leading-6">
                当社は、要配慮個人情報（人種、信条、社会的身分、病歴、前科・前歴、犯罪被害情報などをいいます）ならびに労働組合への加盟、門地および本籍地、保健医療および性生活に関する情報（「センシティブ情報」といいます）を、個人情報保護法その他の法令、ガイドラインに規定する場合を除くほか、取得、利用または第三者提供しません。
            </div>

            <h2 class="text-xl md:text-2xl font-semibold mb-6">６. 当社に対するご照会</h2>
            <div class="mb-6 text-sm md:text-base leading-6">
                下記お問い合わせ窓口にお問い合わせください。また保険事故に関するご照会については、下記お問い合わせ窓口のほか、保険証券に記載の事故相談窓口にお問い合わせください。<br>
                ご照会者がご本人であることをご確認させていただいたうえで、対応させていただきますので、あらかじめご了承願います。
            </div>
            <div class="bg-gray-100 p-6">
                <h3 class="font-semibold mb-6 text-xl">お問い合わせ窓口</h3>
                <div class="leading-6 text-sm md:text-base">
                    株式会社グッドライフアシスト<br>
                    代表取締役社長　村上 隆<br>
                    〒541-0041 大阪府大阪市中央区北浜2-1-23 日本文化会館4F<br>
                    TEL：06-7167-3855（受付時間： 平日9:00 - 17:00）<br>
                    https://www.good-life-assist.com/
                </div>
            </div>
        </div>
    </div>
</main>